.quick-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.quick-list-left{
    width: 55%;
}
.four-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quick-list-left-image {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}
.quick-list-left-image img{
    display: inherit;
    width: 100%;
    border-radius: 15px;
}

.quick-list-right{
    width: 45%;
    padding-left: 65px;
}
.quick-list-title{
    font-size: 45px;
    margin-bottom: 25px;
    line-height: 55px;
    color: #727272;
}
.quick-list-title strong{
    color: #131313;
}
.quick-list-title span{
    color: #FF900E;
}
.quick-list-des{
    margin-bottom: 25px;
    color: #727272;
}
.quick-list-button{
    margin-top: 50px;
}
.quick-list-button a{
    background-color: #FF900E;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width:900px){
    .quick-list{
        flex-direction: column-reverse;
    }
    .quick-list-title{
        font-size: 40px;
        line-height: 50px;
    }
    .quick-list-left {
        width: 100%;
    }
    .quick-list-right {
        width: 100%;
        padding-left:initial;
        text-align: center;
        margin-bottom: 25px;
    }
    .quick-list-right p{
        width: 100%;
    }
}

@media screen and (max-width:576px){
    .quick-list-left-image {
        width: calc(100%);
        margin-bottom: 20px;
    }
}